.emailText {
    -fx-text-fill: white;
    -fx-font: 15px "Roboto Medium";
}

.btnContinue:hover {
    -fx-cursor: hand;
    -fx-underline: true;
}

.btnConfirm:hover {
    -fx-cursor: hand;
    -fx-underline: true;
}

.backToLoginLabel:hover {
    -fx-cursor: hand;
    -fx-underline: true;
}