.backgroundAnchorPane {
    -fx-background-color: #25242c;
}

.accountView {
    -fx-background-color: #212227;
    -fx-border-color: #0f0f10;
}

.userName {
    -fx-font-family: "Lato Heavy";
    -fx-font-size: 15px;
    -fx-text-fill: white;
}

.editProfileLabel {
    -fx-font-family: "Montserrat Medium";
    -fx-font-style: italic;
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.editProfileLabel:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}

.historyLb {
    -fx-text-fill: white;
    -fx-font-family: "Montserrat ExtraBold";
    -fx-font-size: 11px;
}

.historyLb:hover {
    -fx-cursor: hand;
}

.showTimeLb {
    -fx-text-fill: white;
    -fx-font-size: 35px;
    -fx-font-family: "Montserrat SemiBold";
}

.searchButton {
    -fx-background-color: #0f0f10;
    -fx-background-radius: 20px;
    -fx-font-size: 15px;
    -fx-font-family: "Montserrat SemiBold";
    -fx-prompt-text-fill: #939396;
    -fx-text-fill: white normal;
}


.editProfileLabel:hover {
    -fx-cursor: hand;
}

.avatar {
    -fx-stroke: linear-gradient(from 25% 25% to 100% 100%, #4c67ec, #35a7ec) 1px;
}


