/* Style.css */
#ticketSearchBox, #orderSearchBox {
    -fx-translate-y: -40px;
    -fx-translate-x: -30px;
}

/* General styling for the entire application */
.root {
    -fx-font-family: 'Arial', sans-serif;
}

/* Header labels */
#ticketHeaderLabel, #orderHeaderLabel {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-padding: 10px 0;
}

/* Search boxes */
#ticketSearchBox, #orderSearchBox {
    -fx-padding: 10px;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
    -fx-background-color: #fff;
}

/* Buttons */
.button {
    -fx-padding: 8px 15px;
    -fx-background-color: #272727;
    -fx-text-fill: #fff;
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
    -fx-cursor: hand;
     -fx-translate-y: 20px;
}

.button:hover {
    -fx-background-color: #434141;
}


